<p>Inspired by the MCP feature "Two-handed weapon removes shield". Un-equips the shield when equipping any two-handed weapon. You no longer can benefit from the armor rating of the shield while both hands are occupied.</p>
<div class="center">
  <img src="/img/shield-unequipper.gif" title="A short gif of the mod in action" />
</div>
<h4 id="install">Installation:</h4>
<ol>
    <li>
     <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/shield-unequipper/">this URL</a>
     </p>
    </li>
    <li>
     <p>
      Extract the zip to a location of your choosing, examples below:
     </p>
     <pre><code> # Windows
 C:\games\OpenMWMods\Gameplay\shield-unequipper

 # Linux
 /home/username/games/OpenMWMods/Gameplay/shield-unequipper

 # macOS
 /Users/username/games/OpenMWMods/Gameplay/shield-unequipper
     </code></pre>
    </li>
    <li>
      <p>
        Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Gameplay\shield-unequipper"</code>)
      </p>
    </li>
    <li>
      <p>
        Add <code>content=shield-unequipper.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher
      </p>
    </li>
</ol>
<p>
  In order to customize these settings you must disable this mod (it is safe to disable or re-enable at any time mid-save).
</p>
